.select {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid var(--default-color);
    color: var(--default-color);
}

@media (max-width: 425px) {
    .select {
        padding: 3px 5px;
    }
}
