* {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
}

:root {
  --default-color: #a972cb;
  --button-color-hover: #fff;
  --button-background-color-hover: #cb72aa;
  --th-background-color: #ffe6f6;
  --tr-background-color: #fff4fb;
}

@media (max-width: 672px) {
  * {
    font-size: .8rem !important;
  }
}

@media (max-width: 576px) {
  * {
    font-size: .7rem !important;
  }
}

@media (max-width: 425px) {
  * {
    font-size: .6rem !important;
  }
}
